* {
    margin: 0;
    padding: 0; /**/
    box-sizing: border-box; /**/
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /**/
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(16, 16, 88);
    color: white;
}

